@{
    ViewBag.Title = "Error";
}
   

<div class="page-container error">
      <h3>Errore</h3>
      <section class="text">
        <p>
        Siamo spiacenti, ma il tuo ordine è stato annullato a causa di un errore. Si prega di riprovare.
        </p>
      </section>
    </div>