   @using YourNamespace.Models;
@{
    ViewBag.Title = "Success";
    var order = ViewBag.Order as Order;
}
   

<div class="page-container checkout">
      <h3>Grazie!</h3>
      <section class="text">
        <p>
          Il tuo ordine si è concluso con successo!
        </p>
        @if (order != null && order.OrderInvoice != null)
        {
            <form asp-action="InvoicePDF" method="post">
                <input type="hidden" name="orderId" value="@order.Id" />
                <button type="submit" class="button">Scarica fattura</button>
            </form>
        }  
      </section>
    </div>