   @using YourNamespace.Models;
@{
    ViewBag.Title = "Success";
    var order = ViewBag.Order as Order;
}
   

<div class="page-container checkout">
      <h3>Grazie!</h3>
      <section class="text">
        <p>
          Il tuo ordine si è concluso con successo!
        </p>
     
      </section>
    </div>